{% extends "./layout-error.njk" %}

{% set pageTitle = "Error" %}

{% block staticContent %}
  <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
  <h2 class="govuk-heading-m">Try again later.</h2>
{% endblock %}
