{% extends "./layout-error.njk" %}

{% set pageTitle = "Error" %}

{% block staticContent %}
  <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
  <p class="govuk-body">Try again later.</p>
{% endblock %}
