{% extends "partials/layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half-from-desktop">
      {% block staticContent %}{% endblock %}
    </div>
  </div>
{% endblock %}