{% extends "./layout.njk" %}

{% set pageTitle = "Service unavailable" %}

{% block staticContent %}
  <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
  <p>Please try again later.</p>
{% endblock %}
