{% extends "./layout.njk" %}

{% set pageTitle = "Not authorised" %}

{% block staticContent %}
  <h1 class="govuk-heading-l">You do not have permission to access {{ applicationName }}</h1>
  {% if user and user.username %}
    <p>You are signed in as {{ user.username }}.</p>
  {% endif %}
  <p>If you are signed in with the wrong account, sign out and try again.</p>
  <h2 class="govuk-heading-m">Get access</h2>
  <p>Contact the helpdesk to request access, by calling:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>0800 917 5148 outside a prison</li>
    <li>#6598 from inside a prison</li>
  </ul>
{% endblock %}
