{% extends "./layout.njk" %}

{% set pageTitle = "Not authorised" %}

{% block govukHeader %}
  {% if user %}
    {{ super() }}
  {% else %}
    {% include "partials/header.njk" %}
  {% endif %}
{% endblock %}

{% block govukFooter %}
  {% if user %}
    {{ super() }}
  {% else %}
    {% include "partials/footer.njk" %}
  {% endif %}
{% endblock %}

{% block staticContent %}
  <h1 class="govuk-heading-l">You do not have permission to access the {{ applicationName }}</h1>
  {% if user and user.username %}
    <p>You are signed in as {{ user.username }}.</p>
  {% endif %}
  <p>If you are signed in with the wrong account, sign out and try again.</p>
  <h2 class="govuk-heading-m">Get access</h2>
  <p>
    Request permission in the
    <a
      href="https://teams.microsoft.com/l/channel/19%3Az5eNiEz8KnTOyRQbO1DiirfQqckpP92l0qblWr4_htk1%40thread.tacv2/Accommodation%20service%20pilot%20-%20London?groupId=fa3ba1cb-3f4f-412b-96d5-eedc6066559b&amp;tenantId=c6874728-71e6-41fe-a9e1-2e8c36776a"
      class="govuk-link govuk-link--no-visited-state">
      Accommodation service Private Beta Teams channel
    </a>
    if you think you should have access to this service.
  </p>
{% endblock %}
