{% extends "govuk/template.njk" %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block head %}
  {% include "./applicationInsightsScript.njk" %}

  {% for css in feComponents.cssIncludes %}
      <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
  {% endfor %}
  <link href="{{ '/assets/css/index.css' | assetMap }}" rel="stylesheet"/>
{% endblock %}

{% block pageTitle %}{{ "Error: " if errorSummary | length }}{{ pageTitle }}{{ ' - ' if pageTitle }}{{ applicationName }}{% endblock %}

{% block govukHeader %}
  {{ feComponents.header | safe }}
  {{ govukServiceNavigation({
    serviceName: applicationName,
    serviceUrl: "/",
    navigation: [
      {
        href: paths.cases.index(),
        text: "Case list",
        active: activePage == "caseList"
      },
      {
        href: paths.cases.search(),
        text: "Search",
        active: activePage == "search"
      }
    ]
  }) }}

  {% set phaseBannerHtml %}
    Help us improve the Accommodation service. <a href="{{ supportLinks.feedbackForm }}" target="_blank" rel="noreferrer noopener">Complete this survey (opens in new tab)</a>
  {% endset %}

  {{ govukPhaseBanner({
    tag: {
      text: "Pilot"
    },
    html: phaseBannerHtml
  }) }}
{% endblock %}

{% block bodyStart %}{% endblock %}

{% block containerStart %}
  {% if breadcrumbs %}
    {{
      govukBreadcrumbs({
        items: breadcrumbs
      })
    }}
  {% endif %}

  {% include "components/_messages.njk" %}
{% endblock %}

{% block containerEnd %}
  {% include "components/_reportBanner.njk" %}
{% endblock %}

{% block govukFooter %}
  {{ feComponents.footer | safe }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ '/assets/js/index.js' | assetMap }}"></script>
{% endblock %}

{% block extraScripts %}
  {% for js in feComponents.jsIncludes %}
      <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
  {% endfor %}
{% endblock %}
