{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "pages/proposed-address/layout.njk" %}

{% set pageTitle = "Is this the next address they will be moving into? " + applicationName %}
{% set backLinkHref = paths.proposedAddresses.status({ crn: crn }) %}
{% set formAction = paths.proposedAddresses.confirmation({ crn: crn }) %}

{% block formContent %}
{{ govukRadios({
      name: "confirmation",
      fieldset: {
          legend: {
              text: "Is this the next address that " + name + " will be moving into?",
              classes: "govuk-fieldset__legend--l"
          }
      },
      items: [
          {
              value: "YES",
              text: "Yes",
              checked: proposedAddress.confirmation == "YES"
          },
          {
              value: "NO",
              text: "No",
              checked: proposedAddress.confirmation == "NO"
          },
          {
              value: "UNDECIDED",
              text: "Still to be decided",
              checked: proposedAddress.confirmation == "UNDECIDED"
          }
      ],
      errorMessage: errors.confirmation
  }) }}
{% endblock %}