{% extends "pages/proposed-address/layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = "Confirm address" %}
{% set backLinkHref = paths.proposedAddresses.lookup({crn: crn}) %}
{% set formAction = paths.proposedAddresses.selectAddress({crn: crn}) %}
{% set hideManualAddressEntry = featureFlags.hideManualAddressEntry %}

{% block formContent %}
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-0">
    <h1 class="govuk-fieldset__heading">Confirm address</h1>
  </legend>

  <input type="hidden" name="addressUprn" value="{{ addressUprn }}" />

  <div class="govuk-inset-text govuk-inset-text--previous-answers">
    <address class="govuk-!-font-style-normal govuk-!-margin-bottom-4">
      {% for line in addressLines %}
        {{ line }}{% if not loop.last %}<br />{% endif %}
      {% endfor %}
    </address>

    <a class="govuk-link govuk-link--no-visited-state" href="{{ paths.proposedAddresses.lookup({ crn: crn }) }}">
      Change
    </a>
  </div>
{% endblock %}
