{% from "govuk/components/input/macro.njk" import govukInput %}
{% extends "pages/proposed-address/layout.njk" %}

{% set pageTitle = "What is the address? " + applicationName %}
{% set backLinkHref = paths.cases.show({crn: crn}) %}
{% set formAction = paths.proposedAddresses.lookup({crn: crn}) %}
{% set buttonText = 'Find address' %}

{% block extraAction %}
  <p>
    <a class="govuk-link govuk-link--no-visited-state" href="{{ paths.proposedAddresses.details({ crn: crn }) }}">
      Enter address manually
    </a>
  </p>
{% endblock %}

{% block formContent %}
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-6">
    <h1 class="govuk-fieldset__heading">What is the address?</h1>
  </legend>

  <p>If it does not have a UK postcode, select 'Enter address manually'.</p>

  {{
    govukInput({
      label: {
        text: 'Property name or number'
      },
      hint: {
        text: 'For example, 116, The Mill or Flat 37a'
      },
      classes: 'govuk-input--width-20',
      name: 'nameOrNumber',
      id: 'nameOrNumber',
      value: nameOrNumber,
      errorMessage: errors.nameOrNumber
    })
  }}

  {{
    govukInput({
      label: {
        text: 'UK postcode'
      },
      classes: 'govuk-input--width-10',
      name: 'postcode',
      id: 'postcode',
      value: postcode,
      errorMessage: errors.postcode
    })
  }}
{% endblock %}
