{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% extends "pages/proposed-address/layout.njk" %}

{% set pageTitle = "Do you want to confirm this as the person's next address?" %}
{% set formAction = paths.proposedAddresses.nextAccommodation({ crn: crn }) %}
{% set heading %}
  <span class="govuk-caption-l">{{ address }}</span>
  <h1 class="govuk-fieldset__heading">Do you want to confirm this as the next address for {{ name }}?</h1>
{% endset %}

{% block formContent %}
  {{
    govukRadios({
      name: "nextAccommodationStatus",
      fieldset: {
        legend: {
          html: heading,
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      },
      hint: {
        text: "If you still need to check other addresses before making a decision, choose 'Not yet'."
      },
      items: nextAccommodationStatusItems,
      errorMessage: errors.nextAccommodationStatus
    })
  }}
{% endblock %}
