{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "pages/proposed-address/layout.njk" %}

{% set pageTitle = "What will be the person's housing arrangement at this address? " + applicationName %}
{% set backLinkHref = paths.proposedAddresses.details({crn: crn}) %}
{% set formAction = paths.proposedAddresses.status({crn: crn}) %}

{% set conditionalHtml %}
    {{ govukInput(
        {
            label: {
                text: 'What is the other housing arrangement?'
            },
            name: 'housingArrangementTypeDescription',
            id: 'housingArrangementTypeDescription',
            value: proposedAddress.housingArrangementTypeDescription,
            errorMessage: errors.housingArrangementTypeDescription
        }
    ) }}
{% endset %}

{% block formContent %}
  {{ govukRadios({
      name: "housingArrangementType",
      fieldset: {
          legend: {
              text: "What will be the SOMEONE's housing arrangement at this address?",
              classes: "govuk-fieldset__legend--l"
          }
      },
      items: [
          {
              value: "friendOrFamily",
              text: "Friends or family (not tenant or owner)",
              checked: proposedAddress.housingArrangementType == "friendOrFamily"
          },
          {
              value: "socialRent",
              text: "Social rent (tenant)",
              checked: proposedAddress.housingArrangementType == "socialRent"
          },
          {
              value: "privateRentWholeProperty",
              text: "Private rent, whole property (tenant)",
              checked: proposedAddress.housingArrangementType == "privateRentWholeProperty"
          },
          {
              value: "privateRentRoomShare",
              text: "Private rent, room/share (tenant)",
              checked: proposedAddress.housingArrangementType == "privateRentRoomShare"
          },
          {
              value: "owned",
              text: "Owned (named on deeds/mortgage)",
              checked: proposedAddress.housingArrangementType == "owned"
          },
          {
              value: "other",
              text: "Other",
              checked: proposedAddress.housingArrangementType == "other",
              conditional: {
                html: conditionalHtml
              }
          }
      ],
      errorMessage: errors.housingArrangementType
  }) }}
{{ govukRadios({
      name: "settledType",
      fieldset: {
          legend: {
              text: "Will it be settled or transient?",
              classes: "govuk-fieldset__legend--m"
          }
      },
      items: [
          {
              value: "settled",
              text: "Settled",
              checked: proposedAddress.settledType == "settled"
          },
          {
              value: "transient",
              text: "Transient",
              checked: proposedAddress.settledType == "transient"
          }
      ],
      errorMessage: errors.settledType
  }) }}
{% endblock %}