{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "pages/proposed-address/layout.njk" %}

{% set pageTitle = "What will be the person's housing arrangement at this address? " + applicationName %}
{% set backLinkHref = paths.proposedAddresses.details({crn: crn}) %}
{% set formAction = paths.proposedAddresses.type({crn: crn}) %}

{% set conditionalHtml %}
    {{ govukInput(
        {
            label: {
                text: 'What is the other housing arrangement?'
            },
            name: 'arrangementSubTypeDescription',
            id: 'arrangementSubTypeDescription',
            value: proposedAddress.arrangementSubTypeDescription,
            errorMessage: errors.arrangementSubTypeDescription
        }
    ) }}
{% endset %}

{% block formContent %}
  {{ govukRadios({
      name: "arrangementSubType",
      fieldset: {
          legend: {
              text: "What will be " + name + "'s housing arrangement at this address?",
              classes: "govuk-fieldset__legend--l"
          }
      },
      items: [
          {
              value: "FRIENDS_OR_FAMILY",
              text: "Friends or family (not tenant or owner)",
              checked: proposedAddress.arrangementSubType == "FRIENDS_OR_FAMILY"
          },
          {
              value: "SOCIAL_RENTED",
              text: "Social rent (tenant)",
              checked: proposedAddress.arrangementSubType == "SOCIAL_RENTED"
          },
          {
              value: "PRIVATE_RENTED_WHOLE_PROPERTY",
              text: "Private rent, whole property (tenant)",
              checked: proposedAddress.arrangementSubType == "PRIVATE_RENTED_WHOLE_PROPERTY"
          },
          {
              value: "PRIVATE_RENTED_ROOM",
              text: "Private rent, room/share (tenant)",
              checked: proposedAddress.arrangementSubType == "PRIVATE_RENTED_ROOM"
          },
          {
              value: "OWNED",
              text: "Owned (named on deeds/mortgage)",
              checked: proposedAddress.arrangementSubType == "OWNED"
          },
          {
              value: "OTHER",
              text: "Other",
              checked: proposedAddress.arrangementSubType == "OTHER",
              conditional: {
                html: conditionalHtml
              }
          }
      ],
      errorMessage: errors.arrangementSubType
  }) }}
{{ govukRadios({
      name: "settledType",
      fieldset: {
          legend: {
              text: "Will it be settled or transient?",
              classes: "govuk-fieldset__legend--m"
          }
      },
      items: [
          {
              value: "SETTLED",
              text: "Settled",
              checked: proposedAddress.settledType == "SETTLED"
          },
          {
              value: "TRANSIENT",
              text: "Transient",
              checked: proposedAddress.settledType == "TRANSIENT"
          }
      ],
      errorMessage: errors.settledType
  }) }}
{% endblock %}