<div class="sas-report-banner">
  <button href="{{ supportLinks.accessRequest }}" role="button" draggable="false" class="govuk-button govuk-button--secondary sas-report-banner__button" data-module="govuk-button" target="_blank" rel="noreferrer noopener">
    Report a problem (opens in Teams)
  </button>
</div>
