{%- from "govuk/components/summary-list/macro.njk" import govukSummaryList -%}

{% set cardClass = 'sas-card--not-eligible' if status == 'NOT_ELIGIBLE' else '' %}

<article class="sas-card{{ ' ' + cardClass if cardClass }}">
	<header class="sas-card__head">
		<h3 class="govuk-heading-m govuk-!-margin-bottom-0">Duty to Refer (DTR)</h3>
		{{ statusTag | safe }}
	</header>

	<div class="sas-card__footer">
		{% if details and (details | length > 0) %}
			{{ govukSummaryList({
				classes: 'sas-card-summary-list govuk-summary-list--no-border',
				rows: details
			}) }}
		{% endif %}

		{% if links and(links | length > 0) %}
			<div class="sas-card__links">
				{% for link in links %}
					<a class="govuk-body govuk-link govuk-link--no-visited-state" href="{{ link.href }}">{{ link.text }}</a>
				{% endfor %}
			</div>
		{% endif %}
	</div>
</article>