{% set cardClass = 'sas-card--not-eligible' if serviceStatus == 'NOT_ELIGIBLE' else '' %}

<article class="sas-card{{ ' ' + cardClass if cardClass }}">
	<header class="sas-card__head">
		<h3 class="govuk-heading-m">{{ title }}</h3>
		{{ serviceStatusTag | safe }}
	</header>

	<div class="sas-card__footer">
		{% if actions and(actions | length > 0) %}
			{% for action in actions %}
				<p class="sas-card__prompt">{{ action }}</p>
			{% endfor %}
		{% endif %}

		{% if links and(links | length > 0) %}
			<div class="sas-card__actions">
				{% for link in links %}
					<a class="govuk-body govuk-link govuk-link--no-visited-state" href="{{ link.href }}">{{ link.text }}</a>
				{% endfor %}
			</div>
		{% endif %}
	</div>
</article>