{% macro riskLevelTag(level) %}
  {% set variant = 'sas-risk-tag--' + (level | lower | replace('_', '-')) if level else '' %}

  <div class="sas-risk-tag {{ variant }}">
    <dt>RoSH</dt>
    <dd>{{ level | riskLevel }}</dd>
  </div>
{% endmacro %}
