{%- macro apiErrorsSummary() -%}
  <div class="moj-api-error">
    <p>Some information on this service is currently unavailable</p>
    <p>You may need to try again later.</p>
  </div>
{%- endmacro -%}
