$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import "govuk-frontend/dist/govuk/index";
@import "@ministryofjustice/frontend/moj/all";

@import './components/eligibility-card';
@import './components/header-bar';
@import './components/person-details';
@import './components/profile-header';
@import './components/risk-tags';
@import './overrides/local';
