$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1280px;
$govuk-page-width: $moj-page-width;

@import "govuk-frontend/dist/govuk/index";
@import "@ministryofjustice/frontend/moj/all";
@import '@ministryofjustice/hmpps-probation-frontend-components/dist/assets/footer';
@import '@ministryofjustice/hmpps-probation-frontend-components/dist/assets/header';

@import './components/header-bar';
@import './components/card';
@import './components/grid';
@import './components/person-details';
@import './components/profile-header';
@import './components/risk-tags';
@import './components/section';
@import './components/filters';
@import './overrides/local';
