@use "govuk-frontend/dist/govuk/index" with (
  $govuk-global-styles: true,
  $govuk-page-width: 1280px
);
@use "@ministryofjustice/frontend/moj/all";
@use '@ministryofjustice/hmpps-probation-frontend-components/dist/assets/footer';
@use '@ministryofjustice/hmpps-probation-frontend-components/dist/assets/header';

@use './components/header-bar';
@use './components/card';
@use './components/grid';
@use './components/person-details';
@use './components/profile-header';
@use './components/risk-tags';
@use './components/section';
@use './components/filters';
@use './overrides/local';
