.sas-card {
  border: 1px solid govuk-colour("mid-grey");
  padding: govuk-spacing(4);
  margin-bottom: govuk-spacing(3);
}

.sas-card--not-eligible h3 {
  color: govuk-colour("dark-grey");
  @include govuk-font($size: 19, $weight: 'regular');
}

.sas-card__head {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: govuk-spacing(3);
}

.sas-card__footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: govuk-spacing(3);
}

.sas-card__links {
  margin-top: govuk-spacing(4);
  margin-left: auto;
  margin-bottom: 0;
  flex: 0 0 auto;
  white-space: nowrap;
}

.sas-card__links a:not(:first-child) {
  margin-left: govuk-spacing(2);
  padding-left: govuk-spacing(2);
  border-left: 1px solid govuk-colour("mid-grey");
}

.sas-card-summary-list {
    @include govuk-font($size: 16);
    margin-top: govuk-spacing(4);
    margin-bottom: 0;
    display: grid;
    grid-template-columns: fit-content(50%) 1fr;
    column-gap: govuk-spacing(3);
}

.sas-card-summary-list dt {
    color: govuk-colour("dark-grey");
}

.sas-card-summary-list dt, .sas-card-summary-list dd {
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0;
}