@use "govuk-frontend/dist/govuk" as *;

.sas-case-list {
  & .sas-case-list__cell-header {
    @extend .govuk-heading-s;
  }

  @include govuk-media-query($until: tablet) {
    & thead {
      display: none;
    }

    & tr {
      display: block;
      padding-top: govuk-spacing(2);
      border-bottom: 3px solid govuk-colour("black", $variant: "tint-80");

      & td {
        display: block;
        padding: govuk-spacing(3) 0 govuk-spacing(2);
      }
    }
  }

  @include govuk-media-query($from: tablet) {
    & .sas-case-list__cell-header {
      display: none;
    }
  }
}

