.sas-card--not-eligible {
    border: 1px solid #b1b4b6;
    background: #fff;
}
.sas-card {
    background: #fff;
    border: 1px solid #b1b4b6;
    padding: 20px;
    margin-bottom: 15px;
}

.sas-card--not-eligible h3, .sas-card--rejected h3 {
    color: #505a5f;
    font-weight: 400;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
}

.sas-card__head h3 {
    margin-bottom: 0px;
}

.sas-card__head {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 15px;
}

.sas-card__status {
    white-space: nowrap;
    flex: 0 0 auto;
    min-width: max-content;
}

.sas-card__footer {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 15px;
}

.sas-card__actions {
    margin-top: 20px;
    margin-left: auto;
    margin-bottom: 0;
    flex: 0 0 auto;
    white-space: nowrap;
}

.sas-card__actions a:not(:first-child) {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #b1b4b6;
}

.sas-card__prompt {
    margin-top: 15px;
    margin-bottom: 0;
}

.sas-card-summary-list {
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: fit-content(50%) 1fr;
    column-gap: 1rem;
}

.sas-card-summary-list dt, .sas-card-summary-list dd {
    font-weight: normal;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}