@use "govuk-frontend/dist/govuk" as *;

.sas-filters__actions {
  display: flex;
  align-items: center;
  gap: govuk-spacing(6);
  flex-wrap: nowrap;
  /* Nudge up to align button shadow to input borders */
  padding-bottom: 2px;

  & button {
    margin: 0;
    white-space: nowrap;
  }

  @media #{govuk-until-breakpoint(tablet)} {
    flex-direction: column;
    align-items: flex-start;
  }
}

.sas-filters__summary {
  padding: govuk-spacing(4);
  margin-bottom: govuk-spacing(4);
  background-color: govuk-colour("black", $variant: "tint-95");
}
