.sas-profile-page {
    padding-top: 0;
}

.sas-profile-header {
    border-bottom: 1px solid govuk-colour("mid-grey");
    background: none;
    padding: 0 0 10px 0;
    margin: govuk-spacing(4) 0;
    display: flex;
    align-items: flex-start;
    gap: govuk-spacing(4);
}

.sas-profile-header__details {
    color: govuk-colour('black');
    margin-top: 0px;
    margin-right: 8px;
    padding-right: 10px;
    border-right: 1px solid govuk-colour("mid-grey");
    display: inline-block;

    &:last-child {
        margin-right: 0;
        padding-right: 0;
        border: 0;
    }

    & dt {
        float: left;
        margin-right: govuk-spacing(1);
        color: govuk-colour('dark-grey');
        
        &:after {
            content: ":";
        }
    }

    & dd {
        margin-left: 0;
        float: left;
    }
}

.sas-profile-image {
    flex: 0 0 auto;
    height: auto;
    width: 135px;
    display: block;
    @media (min-width: 640px) {
        margin-bottom: 0;
        max-width: 180px;
    }
}
