{{ heading | safe }}

{%- if cellType === 'current' %}
  <br>
  <span class="govuk-hint">until {{ endDate | date }}</span>
  <br>
  <span class="govuk-!-display-inline-block govuk-!-margin-top-1">{{ endDate | date('days for/left') }}</span>
{% else %}
  <br>
  <span class="govuk-hint">from {{ startDate | date }}</span>
{% endif -%}
