{% if arrangementType === 'PRISON' %}
  {{ accommodationType | replace('Prison', name) }}
{% else %}
  {{ accommodationType }}
  {% if addressTitle %}<br />{{ addressTitle }}{% endif %}
{% endif %}

{%- if cellType === 'current' %}
  {%- if endDate %}
    <br />
    <span class="govuk-hint">until {{ endDate | date }}</span>
    <br />
    <span class="govuk-!-display-inline-block govuk-!-margin-top-1">{{ endDate | date('days for/left') }}</span>
  {% endif -%}
{% else %}
  {%- if startDate %}
    <br />
    <span class="govuk-hint">from {{ startDate | date }}</span>
  {% endif -%}
  {%- if endDate %}
    <br />
    <span class="govuk-hint">{{ 'to' if startDate else 'until' }} {{ endDate | date }}</span>
  {% endif -%}
{% endif -%}
