{{ heading | safe }}

{%- if cellType === 'current' %}
  <br>
  <span class="govuk-hint">until {{ endDate | date }}</span><br>
  {{ endDate | date('days') }} left
{% else %}
  <br>
  <span class="govuk-hint">from {{ startDate | date }}</span>
{% endif -%}
