<div class="sas-person-cell">
  <div class="govuk-!-margin-bottom-2">
    <a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" href="{{ link }}">{{ person.name }}</a>
  </div>

  <dl class="sas-risk-tags govuk-!-margin-0 govuk-!-margin-bottom-1">
    <span class="sas-risk-tag sas-risk-tag--high">
      <dd>RoSH</dd>
      <dt>{{ person.rosh }}</dt>
    </span>
    <span class="sas-risk-tag sas-risk-tag--tier">
      <dd>Tier</dd>
      <dt>{{ person.tier }}</dt>
    </span>
  </dl>

  <dl class="sas-person-details govuk-!-margin-0">
    <div>
      <dd>Date of birth</dd>
      <dt>{{ person.dateOfBirth }} ({{ age }})</dt>
    </div>
    <div>
      <dd>CRN</dd>
      <dt>{{ person.crn }}</dt>
    </div>
    <div>
      <dd>Prison number</dd>
      <dt>{{ person.prisonNumber }}</dt>
    </div>
  </dl>
</div>
