{% from "components/riskLevelTag.njk" import riskLevelTag %}

<div class="sas-person-cell">
  <div class="govuk-!-margin-bottom-2">
  <a class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" href="/cases/{{ person.crn }}/profile-tracker">{{ person.name }}</a>
  </div>

  <dl class="sas-risk-tags govuk-!-margin-0 govuk-!-margin-bottom-1">
    {{ riskLevelTag(person.riskLevel) }}
    <div class="sas-risk-tag sas-risk-tag--tier">
      <dt>Tier</dt>
      <dd>{{ person.tier }}</dd>
    </div>
  </dl>

  <dl class="sas-person-details govuk-!-margin-0">
    <div>
      <dt>Date of birth</dt>
      <dd>{{ person.dateOfBirth | date }} ({{ age }})</dd>
    </div>
    <div>
      <dt>CRN</dt>
      <dd>{{ person.crn }}</dd>
    </div>
    <div>
      <dt>Prison number</dt>
      <dd>{{ person.prisonNumber }}</dd>
    </div>
  </dl>
</div>
