{%- macro accommodationCell(context) -%}
  <span class="sas-case-list__cell-header" aria-hidden="true">{{ 'Current accommodation' if context.cellType === 'current' else 'Next accommodation' }}</span>

  {{ context.accommodationType }}

  {%- if context.arrangementType === 'PRIVATE' -%}
    {%- if context.addressLine1 %}
      <br />
      <span class="govuk-hint">{{ context.addressLine1 }}</span>
    {% endif -%}
  {%- else -%}
    {%- if context.cellType !== 'current' and context.startDate %}
      <br />
      <span class="govuk-hint">From {{ context.startDate | date }}</span>
    {% endif -%}

    {%- if context.endDate %}
      <br />
      <span class="govuk-hint">Until {{ context.endDate | date }}</span>
    {% endif -%}
  {%- endif -%}
{%- endmacro -%}
