{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% macro showErrorSummary(errorList, errorTitle) %}
  {% if errorList | length %}
    {{ govukErrorSummary({
      titleText: errorTitle if errorTitle else "There is a problem",
      errorList: errorList,
      classes: "govuk-!-margin-top-6 govuk-!-margin-bottom-7"
    }) }}
  {% endif %}
{% endmacro %}
