{% from "moj/components/alert/macro.njk" import mojAlert %}

{%- macro noFixedAbodeBox(context) -%}
  {% if context %}
    {%- set startDateHtml -%}
      {% if context.date %}
        <p class="govuk-!-margin-top-2">
          {{ 'Since' if (context.date | date('days') < 0) else 'From' }} {{ context.date | date('long') }}<br />
          ({{ context.date | date('days for/in') }})
        </p>
      {% endif %}
    {%- endset -%}

    {{
      mojAlert({
        variant: "warning",
        title: "No fixed abode" if context.status === 'NO_FIXED_ABODE' else "Risk of no fixed abode",
        showTitleAsHeading: true,
        dismissible: false,
        html: startDateHtml
      })
    }}
  {% endif %}
{%- endmacro -%}
