{% from "components/macros/riskLevelTag.njk" import riskLevelTag %}
{% from "components/macros/tierScoreTag.njk" import tierScoreTag %}

{%- macro personCell(person) -%}
  <span class="sas-case-list__cell-header" aria-hidden="true">Person</span>

  <div class="sas-person-cell">
    <div class="govuk-!-margin-bottom-2 govuk-!-font-weight-bold">
      <a class="govuk-link govuk-link--no-visited-state" href="{{ paths.cases.show({ crn: person.crn }) }}">
        {{ person.name }}
      </a>
      {% if person.userAccess === 'FULL' and person.limitedAccess %}(LAO){% endif %}
    </div>

    <dl class="sas-risk-tags govuk-!-margin-0 govuk-!-margin-bottom-1">
      {{ riskLevelTag(person.riskLevel) }}

      {{ tierScoreTag(person.tierScore) }}
    </dl>

    <dl class="sas-person-details govuk-!-margin-0">
      {% if person.dateOfBirth -%}
        <div>
          <dt>Date of birth</dt>
          <dd>{{ person.dateOfBirth | date }} ({{ person.dateOfBirth | date('age') }})</dd>
        </div>
      {%- endif %}
      <div>
        <dt>CRN</dt>
        <dd>{{ person.crn }}</dd>
      </div>
      <div>
        <dt>Prison number</dt>
        <dd>{{ person.prisonNumber }}</dd>
      </div>
    </dl>
  </div>
{%- endmacro -%}
