{%- macro statusTag(status) -%}
  <strong class="govuk-tag{{ ' govuk-tag--' + status.colour if status.colour }}{{ ' ' + status.classes if status.classes }}">{{ status.text }}</strong>
{%- endmacro -%}
