{%- from "components/macros/statusTag.njk" import statusTag %}

{%- macro statusCell(context) -%}
  <span class="sas-case-list__cell-header" aria-hidden="true">Status</span>
  {{ statusTag(context.status) }}
  {%- if context.date %}
    <p class="govuk-hint govuk-!-margin-top-2">
      From {{ context.date | date }}
      <br/>
      ({{ context.date | date('days for/in') }})
    </p>
  {%- endif %}
{%- endmacro -%}
