{%- macro statusTag(status) -%}
  <strong class="govuk-tag{{ ' govuk-tag--' + status.colour if status.colour }}{{ ' govuk-tag--no-wrap' if status.noWrap }}">{{ status.text }}</strong>
{%- endmacro -%}
