{%- from "components/macros/statusTag.njk" import statusTag %}

{%- macro statusCell(context) -%}
  <span class="sas-case-list__cell-header" aria-hidden="true">Status</span>
  {{ statusTag(context.status) }}
  {%- if context.dateText %}
    <p class="sas-status__date">{{ context.dateText }}</p>
  {%- elif context.date %}
    <p class="sas-status__date">{{ context.date | date }}</p>
  {%- endif %}
  {%- if context.details %}
    {% for detail in context.details %}
      {% if detail.html %}
        {{ detail.html | safe }}
      {% else %}
        <p class="govuk-!-margin-bottom-1">{{ detail.text }}</p>
      {% endif %}
    {% endfor %}
  {%- endif %}
{%- endmacro -%}
