{%- from "components/macros/statusTag.njk" import statusTag %}

{%- macro timelineProposedAddress(context) -%}
  {% set changed = context.type !== 'CREATE' %}
  {% set separator = 'Changed to:' if changed else '' %}

  {% if context.status %}
    <p>{{ statusTag(context.status) }}</p>
  {% endif %}

  {% for label, value in context.values %}
    {% if value %}
      {% if label === 'Address' %}
        <p class="govuk-!-margin-bottom-1">
          {{ separator }}{% for line in value %}{% if changed or not loop.first %}<br>{% endif %}{{ line }}{% endfor %}
        </p>
      {% else %}
        <p class="govuk-!-margin-bottom-1">{{ separator }} {{ value }}</p>
      {% endif %}
    {% endif %}
  {% endfor %}
{%- endmacro -%}
