{%- from "components/macros/statusTag.njk" import statusTag %}

{%- macro timelineProposedAddress(context) -%}
  {% set changed = context.type !== 'CREATE' %}
  {% set prefix = 'Changed to:' if changed else '' %}

  {% if context.status %}
    <p>{{ statusTag(context.status) }}</p>
  {% endif %}

  {% if context.values | length -%}
    <ul class="govuk-list govuk-!-margin-bottom-0">
      {% for item in context.values %}
        <li>{{ prefix }} {% if item.value.text %}{{ item.value.text }}{% elseif item.value.html %}{{ item.value.html | safe }}{% endif %}</li>
      {% endfor %}
    </ul>
  {%- endif %}
{%- endmacro -%}
