{%- from "components/macros/statusTag.njk" import statusTag %}

{%- macro timelineDutyToRefer(context) -%}
  {% if context.status %}
    <p>{{ statusTag(context.status) }}</p>
  {% endif %}

  {% for item in context.values %}
    {% if not item.isList and item.value %}
      <p class="{{ 'govuk-!-margin-bottom-1' if item.showLabel }}">
        {% if item.showLabel %}{{ item.label }}: {% endif %}{{ item.value }}
      </p>
    {% endif %}
  {% endfor %}

  {% if context.hasListItems %}
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
      {% for item in context.values %}
        {% if item.isList and item.value %}
          <li>{% if item.showLabel %}{{ item.label }} changed to: {% endif %}{{ item.value }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
{%- endmacro -%}
