@use "govuk-frontend/dist/govuk" as *;

.govuk-main-wrapper {
  min-height: 600px;
}

.govuk-tag {
  white-space: nowrap;
}

.govuk-template .govuk-width-container {
  @include govuk-width-container;
}
