{% extends "partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: paths.cases.show({ crn: crn })
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <h1 class="govuk-heading-l">Add Duty to Refer (DTR) outcome details</h1>
            {{
                govukSummaryList({
                    rows: tableRows
                })
            }}
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="{{ paths.dutyToRefer.update({ crn: crn }) }}" method="post" novalidate="">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
                
                {{ govukRadios({
                    id: "outcomeStatus",
                    name: "outcomeStatus",
                    fieldset: {
                        legend: {
                            text: "Has the local authority agreed to support this person with housing?",
                            classes: "govuk-fieldset__legend--s"
                        }
                    },
                    items: [
                        {
                            value: "ACCEPTED",
                            text: "Yes"
                        },
                        {
                            value: "NOT_ACCEPTED",
                            text: "No"
                        }
                    ],
                    errorMessage: errors.outcomeStatus
                }) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                    text: "Save and continue",
                    preventDoubleClick: true
                }) }}
                </div>

                <p>
                    <a class="govuk-link govuk-link--no-visited-state" href="{{ paths.cases.show({ crn: crn }) }}">Skip this for now</a>
                </p>
            </form>
        </div>
    </div>
{% endblock %}