{% extends "partials/layout.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "moj/components/timeline/macro.njk" import mojTimeline %}
{% from "components/macros/errorSummary.njk" import showErrorSummary %}
{% from "components/macros/caseDetails.njk" import caseDetails %}

{% set pageTitle = "Duty to Refer (DTR)" %}
{% set mainClasses = "sas-profile-page" %}

{% block containerStart %}
  {{
    govukBreadcrumbs({
      items: [
        {
          text: "Case list",
          href: "/"
        },
        {
          text: caseData.name + "'s profile",
          href: paths.cases.show({ crn: caseData.crn })
        }
      ]
    })
  }}
  {{ super() }}
{% endblock %}

{% block content %}
  {{ showErrorSummary(errorSummary) }}

  {{ caseDetails(caseData, assignedTo) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">Referral history</span>
      <h1 class="govuk-heading-l">Duty to Refer (DTR)</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <section>
        {% if status !== 'WITHDRAWN' %}
          <div class="govuk-button-group">
            {% if outcomeDetailRows.length == 0 %}
              {{
                govukButton({
                    text: "Add outcome",
                    href: paths.dutyToRefer.outcome({ crn: crn, id: dtrId }),
                    preventDoubleClick: true
                })
              }}
            {% endif %}
            {{
              govukButton({
                text: "Withdraw referral",
                href: paths.dutyToRefer.withdraw({ crn: crn, id: dtrId }),
                preventDoubleClick: true,
                classes: "govuk-button--secondary"
              })
            }}

            {{
              govukButton({
                text: "Add new referral",
                href: paths.dutyToRefer.newSubmission({ crn: crn }),
                preventDoubleClick: true,
                classes: "govuk-button--secondary"
              })
            }}
          </div>
        {% endif %}
        {% if outcomeDetailRows.length > 0 %}
          {{
            govukSummaryList({
                card: {
                  title: {
                    text: "Outcome details"
                  },
                  actions: {
                    items: [
                      {
                        href: paths.dutyToRefer.outcome({ crn: crn, id: dtrId }),
                        classes: "govuk-!-font-weight-regular",
                        text: "Change"
                      }
                    ]
                  }
                },
                rows: outcomeDetailRows
            })
          }}
        {% endif %}
        {{
          govukSummaryList({
              card: {
                title: {
                  text: "Referral details"
                },
                actions: {
                  items: [
                    {
                      href: paths.dutyToRefer.edit({ crn: crn, id: dtrId }),
                      classes: "govuk-!-font-weight-regular",
                      text: "Change"
                    }
                  ]
                }
              },
              rows: submissionDetailRows
          })
        }}
      </section>
      <section class="govuk-!-margin-top-4 govuk-!-margin-bottom-4">
        <form action="{{ currentUrl }}" method="post">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {{
            govukTextarea({
            name: "note",
            label: {
                text: "Add note",
                classes: "govuk-label--s"
            },
            classes: "govuk-!-width-two-thirds",
            value: note,
            errorMessage: errors.note
            })
          }}

          {{
            govukButton({
            text: "Add note",
            preventDoubleClick: true,
            classes: "govuk-button--secondary"
            })
          }}
        </form>
      </section>
    </div>

    <section class="govuk-grid-column-one-third-from-desktop">
      <h2 class="govuk-heading-m">Events and notes timeline</h2>

      {{
        mojTimeline({
            headingLevel: 3,
            items: timeline
        })
      }}
    </section>
  </div>
{% endblock %}
