{% extends "pages/duty-to-refer/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set formColumnClass = "govuk-grid-column-one-half-from-desktop" %}
{% set submitButtonText = "Withdraw referral" %}

{% set conditionalHtml %}
  {{
    govukInput(
        {
            label: {
                text: 'What is the other reason?'
            },
            name: 'withdrawalReasonOther',
            id: 'withdrawalReasonOther',
            value: withdrawalReasonOther,
            errorMessage: errors.withdrawalReasonOther
        }
    )
  }}
{% endset %}

{% block formContent %}
  <input type="hidden" name="submissionDate" value="{{ dtr.submission.submissionDate }}" />
  <input type="hidden" name="localAuthorityAreaId" value="{{ dtr.submission.localAuthority.localAuthorityAreaId }}" />
  <input type="hidden" name="referenceNumber" value="{{ dtr.submission.referenceNumber }}" />
  <input type="hidden" name="submissionNote" value="{{ dtr.submission.submissionNote }}" />
  <input type="hidden" name="outcomeReason" value="{{ dtr.outcome?.outcomeReason }}" />
  <input type="hidden" name="outcomeNote" value="{{ dtr.outcome?.outcomeNote }}" />

  {{
    govukRadios({
        id: "withdrawalReason",
        name: "withdrawalReason",
        fieldset: {
            legend: {
                text: "Why are you withdrawing this referral?",
                classes: "govuk-fieldset__legend--m"
            }
        },
        hint: {
            html: "This records that the referral has been withdrawn and moves it to the person’s referral history. <br><br> This does not withdraw the referral in the local authority’s system, so you may still need to do that separately."
        },
        items: injectConditionals(withdrawalReasonItems, { OTHER: conditionalHtml }),
        errorMessage: errors.withdrawalReason
    })
  }}
{% endblock %}
