{% extends "pages/static/layout.njk" %}

{% set pageTitle = "Error" %}
{% set mainClasses = "govuk-body" %}

{% block staticContent %}
  <h1>{{ message }}</h1>
  <h2>{{ status }}</h2>
  {% if hint %}
    <p>{{ hint }}</p>
  {% endif %}
  {% if stack %}
    <pre>{{ stack }}</pre>
  {% endif %}
{% endblock %}
