{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% extends "partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "govuk-body" %}

{% block content %}
  <h1>Cases</h1>

  <form method="get" class="sas-filters">
    {# FIXME -- Experimental Easter Egg #}
    <input type="hidden" name="crns" value="{{ query.crns }}">

    <div class="sas-filters__filter sas-filters__filter--grow">
      {{
        govukInput({
          label: { text: 'Search by name, CRN or prison number' },
          name: 'searchTerm',
          value: query.searchTerm
        })
      }}
    </div>

    <div class="sas-filters__filter">
      {{
        govukSelect({
          label: {
            text: 'Assigned to'
          },
          name: 'assignedTo',
          value: query.assignedTo,
          items: assignedToOptions
        })
      }}
    </div>

    <div class="sas-filters__filter">
      {{
        govukSelect({
          label: {
            text: 'RoSH'
          },
          name: 'riskLevel',
          value: query.riskLevel,
          items: riskLevelOptions
        })
      }}
    </div>

    <div class="sas-filters__actions">
      {{ govukButton({ text: 'Apply filters' }) }}

      <a class="govuk-link govuk-link--no-visited-state" href="/">Clear</a>
    </div>
  </form>

  {{
    govukTable({
      caption: tableCaption,
      captionClasses: 'govuk-table__caption--m',
      head: [
        { text: "Person" },
        { text: "Current accommodation" },
        { text: "Next accommodation" },
        { text: "Actions" }
      ],
      rows: casesRows
    })
  }}
{% endblock %}
