{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% extends "partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "govuk-body" %}

{% block content %}
  {% if errorSummary and errorSummary.length %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errorSummary
    }) }}
  {% endif %}
  <h1>Cases</h1>
    <div class="govuk-template govuk-!-padding-8 govuk-!-padding-bottom-static-3 govuk-!-margin-bottom-8">
        <form action="{{ paths.cases.search({}) }}" method="get">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
          {{ govukInput(
              {
                  label: {
                      classes: 'govuk-label--m',
                      text: 'Search by CRN' 
                  },
                      hint: {
                      text: 'For example, XD7364CD'
                  },
                  name: 'crn',
                  id: 'crn',
                  value: params.crn,
                  errorMessage: errors.crn
              }
          ) }}

          <div class="govuk-button-group">
              {{ govukButton({ text: "Search", attributes: { id: 'search-button' }, preventDoubleClick: true}) }}

              <a class="govuk-link" href="/">Clear</a>
          </div>
      </form>
    </div>
  {{
    govukTable({
      caption: tableCaption,
      captionClasses: 'govuk-table__caption--m',
      head: [
        { text: "Person" },
        { text: "Current accommodation" },
        { text: "Next accommodation" },
        { text: "Actions" }
      ],
      rows: casesRows
    })
  }}
{% endblock %}
