{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "govuk-body" %}

{% block content %}

  <h1>Cases</h1>

  <ul>
    {% for case in cases %}
      <li>{{ case.name }}</li>
    {% endfor %}
  </ul>

{% endblock %}
