{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% extends "partials/layout.njk" %}

{% set pageTitle = "Search" %}
{% set mainClasses = "govuk-body" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half-from-desktop">
      {% if errorSummary and errorSummary.length %}
        {{
          govukErrorSummary({
              titleText: "There is a problem",
              errorList: errorSummary
          })
        }}
      {% endif %}
      <form method="get" class="govuk-!-margin-bottom-0">
        {{
          govukInput({
            label: { text: 'Find a person', classes: "govuk-label--l" },
            hint: { text: 'Search by CRN' },
            name: 'searchTerm',
            value: crn,
            formGroup: {
              classes: 'govuk-!-margin-bottom-0',
              afterInput: {
                html: govukButton({
                  text: 'Search',
                  classes: 'govuk-!-margin-left-2 govuk-!-margin-bottom-0'
                })
              }
            },
            errorMessage: errors.searchTerm
          })
        }}
      </form>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-from-desktop">
      {% if resultsSummary %}
        <h2 id="case-list-summary" class="govuk-heading-m govuk-!-margin-top-6">{{ resultsSummary }}</h2>
        {% if not casesRows.length %}
          <p>Check the details and try again.</p>
        {% endif %}
      {% endif %}
      {% if casesRows and casesRows.length %}
        {{
          govukTable({
            classes: 'sas-table',
            attributes: {
              'aria-labelledby': 'case-list-summary'
            },
            head: casesTableColumns,
            rows: casesRows
          })
        }}
      {% endif %}
    </div>
  </div>
{% endblock %}
