{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "components/macros/caseDetails.njk" import caseDetails %}
{% from "components/macros/statusCard.njk" import statusCard %}
{% from "components/macros/accommodationCard.njk" import accommodationCard %}
{% from "components/macros/referralHistoryTable.njk" import referralHistoryTable %}

{% extends "partials/layout.njk" %}

{% set pageTitle = applicationName + " - Profile" %}
{% set mainClasses = "sas-profile-page" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
      items: [
          {
              text: "Case list",
              href: "/"
          }
      ]
  }) }}
  {{ super() }}
{% endblock %}

{% block content %}
  {{ caseDetails(caseData, assignedTo) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h2 class="govuk-heading-l govuk-!-margin-top-2">Arrange next accommodation</h2>
    </div>
  </div>
  <div class="govuk-grid-row govuk-grid-row--reverse">
    <section class="govuk-grid-column-one-third-from-desktop">
      <h2 class="govuk-visually-hidden">Current situation</h2>
      {% if caseData.nextAccommodation and caseData.nextAccommodation.arrangementType === 'NO_FIXED_ABODE' %}
        {{ accommodationCard(nextAccommodationCard) }}
      {% endif %}

      <!-- actions -->

      {{ accommodationCard(currentAccommodationCard) }}

      {% if caseData.nextAccommodation and caseData.nextAccommodation.arrangementType !== 'NO_FIXED_ABODE' %}
        {{ accommodationCard(nextAccommodationCard) }}
      {% endif %}
    </section>

    <div class="govuk-grid-column-two-thirds-from-desktop">
      <section>
        <h2 class="govuk-visually-hidden">Accommodation referrals</h2>
        {% if dutyToReferCard %}
          {{ statusCard(dutyToReferCard) }}
        {% endif %}
        {% for card in eligibilityCards %}
          {{ statusCard(card) }}
        {% endfor %}
      </section>

      <section class="govuk-!-margin-top-8">
        <header class="sas-section__header">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-4">Proposed addresses</h2>
          <a href="{{ paths.proposedAddresses.start({ crn: caseData.crn }) }}" class="govuk-link govuk-link--no-visited-state govuk-body">Add a proposed address</a>
        </header>

        {% if proposedAddresses | length %}
          {% for card in proposedAddresses %}
            {{ statusCard(card) }}
          {% endfor %}
        {% else %}
          <p>No proposed addresses have been added.</p>
        {% endif %}

        {% if failedChecksAddresses | length %}
          <h3 class="govuk-heading-m govuk-!-margin-top-5">Addresses that failed checks</h3>
          {% for card in failedChecksAddresses %}
            {{ statusCard(card) }}
          {% endfor %}
        {% endif %}
      </section>
    </div>
  </div>

  <h2 class="govuk-heading-l govuk-!-margin-top-6">History</h2>
  {{ referralHistoryTable({ rows: referralHistoryRows }) }}
{% endblock %}
