{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "components/riskLevelTag.njk" import riskLevelTag %}
{% extends "partials/layout.njk" %}

{% set pageTitle = applicationName + " - Profile" %}
{% set mainClasses = "sas-profile-page" %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Case List",
                href: "/"
            }
        ]
    }) }}
{% endblock %}

{% block content %}
    <div class="sas-profile-header">
        {# <img class="sas-profile-image" alt="Photo of {{ caseData.name }}" src=""> #}
        <div>
            <h1 class="govuk-heading-l govuk-!-margin-bottom-2">{{ caseData.name }}</h1>
            <dl class="sas-risk-tags govuk-!-margin-0 govuk-!-margin-bottom-2">
                {{ riskLevelTag(caseData.riskLevel) }}
                <div class="sas-risk-tag sas-risk-tag--tier">
                    <dt>Tier</dt>
                    <dd>{{ caseData.tier }}</dd>
                </div>
            </dl>
            <div class="govuk-body-s govuk-!-margin-bottom-0">
                <dl class="sas-profile-header__details govuk-!-margin-bottom-1">
                    <dt>CRN</dt>
                    <dd>{{ caseData.crn }}</dd>
                    <dt>Prison number</dt>
                    <dd>{{ caseData.prisonNumber }}</dd>
                    <dt>PNC reference</dt>
                    <dd>{{ caseData.pncReference }}</dd>
                </dl>
            </div>
            <div class="govuk-body-s govuk-!-margin-bottom-0">
                <dl class="sas-profile-header__details govuk-!-margin-bottom-1">
                    <dt>Date of birth</dt>
                    <dd>{{ caseData.dateOfBirth | date }} ({{ caseData.dateOfBirth | date('age') }})</dd>
                    <dt>Assigned to</dt>
                    <dd>{{ assignedTo }}</dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="govuk-grid-row govuk-grid-row--reverse">
      <div class="govuk-grid-column-one-third-from-desktop">
        {{ nextAccommodationCard | safe }}

        {{ currentAccommodationCard | safe }}
      </div>
    </div>

    <h2 class="govuk-heading-l govuk-!-margin-top-6">History</h2>
    {% if (referralHistory | length > 0) %}
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                            Referral history
                        </h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    {{ govukTable({
                        firstCellIsHeader: true,
                        head: [
                            {
                            text: "Type"
                            },
                            {
                            text: "Status"
                            },
                            {
                            text: "Date"
                            },
                            {
                            text: ""
                            }
                        ],
                        rows: referralHistory
                    }) }}
                </dl>
            </div>
        </div>
    {% endif %}
{% endblock %}
